<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>School Board | Everything online</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class='login'>
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>
  <form (submit)="login()" class="login-form">
    <span *ngIf='invalidEntry' style='color: red; text-align: center'>Invalid credentials</span>
    <mat-form-field>
      <input matInput name='username' placeholder="Username or email" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name='password' placeholder="password" [(ngModel)]="password">
    </mat-form-field>
    <button type='submit' mat-raised-button color="primary">Login</button>
  </form>
  <div style='text-align: center'>
    copyrights &#169;
  </div>
</div>


