.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #3f51b5;
}
.login-header {
  margin-top: 0;
  margin-bottom: 0;

  background: #3f51b5;
  padding: 20px;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-form {
  background: #ffffff;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.login-form > * {
  width: 100%;
}

